[submodule "third_party/linenoise"]
	path = third_party/linenoise
	url = git@github.com:zebra-uestc/linenoise.git
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
