# Build & Cache
.cache/
.xmake/
build/
__pycache__/

# Virtual Env & Pkg
.venv
.venv/
*.egg-info/

# Binaries
*.so
*.so.*

# Generated Type Stubs
*.pyi

# Logs
*.log

# IDE & Editor
.vscode/
.idea/
.claude/